<ngb-carousel>
  <ng-template ngbSlide>
    <img src="assets/image/promotions.jpg" alt="Random first slide">
    <div class="carousel-caption">
      <button class="btn btn-primary" routerLink="/mainMenu" routerLinkActive="active">Order Now</button>
      <!-- <h3>10 seconds between slides...</h3>
      <p>This carousel uses customized default values.</p> -->
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="assets/image/promotion-in-marketing.jpg" alt="Random second slide">
    <!-- <div class="carousel-caption">
      <h3>No keyboard...</h3>
      <p>This carousel uses customized default values.</p>
    </div> -->
  </ng-template>
  <ng-template ngbSlide>
    <img src="assets/image/special-discount.png" alt="Random third slide">
    <!-- <div class="carousel-caption">
      <h3>And no wrap after last slide.</h3>
      <p>This carousel uses customized default values.</p>
    </div> -->
  </ng-template>
</ngb-carousel>